.App {
  text-align: center;
}

.App-header {
  background-color: #a6aab1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: black;
}

.container {
  margin: 10px;
}

/* .form-floating {
  width: 200px;
} */
